<div layout-padding"
ng-show="$ctrl.selected">
<table class="table table-bordered table-hover table-condensed">
    <tr layout-padding>
        <td>Name</td>
        <td>
            <span editable-text="$ctrl.selected.name" e-name="name" buttons="right">{{ $ctrl.selected.name }}</span>
            <span>(version: {{ $ctrl.selected.version }})</span>
        </td>
    </tr>
    <tr layout-padding>
        <td>Last modified</td>
        <td>{{ formatDate($ctrl.selected.dateModified) }}</td>
    </tr>
    <tr layout-padding>
        <td>Partitinos</td>
        <td>
            <a editable-range="$ctrl.selected.partitions"
               e-step="1" e-max="10"
               buttons="right">
                {{ $ctrl.selected.partitions }}
            </a>
        </td>
    </tr>
    <tr layout-padding>
        <td>Replication Factor</td>
        <td>
            <a editable-range="$ctrl.selected.replicationFactor"
               e-step="1" e-max="10"
               buttons="right">
                {{ $ctrl.selected.replicationFactor }}
            </a>
        </td>
    </tr>
    <tr layout-padding>
        <td>Serializer</td>
        <td>
            <span editable-text="$ctrl.selected.serializer" e-name="serializer" buttons="right">{{ $ctrl.selected.serializer }}</span>
        </td>
    </tr>
    <tr layout-padding>
        <td>Row key</td>
        <td>
            <span editable-text="$ctrl.selected.rowkeyField" e-name="rowkeyField" buttons="right">{{ $ctrl.selected.rowkeyField }}</span>
        </td>
    </tr>
    <tr layout-padding>
        <td>Record Type</td>
        <td>
            <span editable-text="$ctrl.selected.recordTypeField" e-name="recordTypeField" buttons="right">{{ $ctrl.selected.recordTypeField }}</span>
        </td>
    </tr>
    <tr valign="top" layout-padding>
        <td>Key Schema</td>
        <td>
            <key-types-list selected="$ctrl.selected.keySchema"></key-types-list>
        </td>
    </tr>
    <tr valign="top" layout-padding>
        <td>Value Schema</td>
        <td>
            <key-types-list selected="$ctrl.selected.valueSchema"></key-types-list>
            <!--<span editable-text="$ctrl.selected.valueSchema" e-name="valueSchema" buttons="right">{{ $ctrl.selected.valueSchema }}</span>-->
        </td>
    </tr>
    <tr layout-padding>
        <td>Documentation</td>
        <td>
                <span editable-textarea="$ctrl.selected.documentation"
                      e-rows="7" e-cols="40"
                      e-name="documentation" buttons="right"><pre>{{ $ctrl.selected.documentation }}</pre></span>
        </td>
    </tr>
    <tr>
        <td>&nbsp;  </td>
        <td>
            <md-button class="md-raised md-primary" ng-click="saveTopic($ctrl.selected)">Save Topic</md-button>
        </td>
    </tr>
</table>
</div>
<!--<div flex-->
<!--ng-show="$ctrl.selected"-->
<!--layout="column"-->
<!--layout-align="center center"-->
<!--layout-margin>-->

<!--<md-input-container class="md-block">-->
<!--<label>Name</label>-->
<!--<input ng-model="$ctrl.selected.name"/>-->
<!--</md-input-container>-->
<!--<md-input-container class="md-block">-->
<!--<label>Version</label>-->
<!--<input ng-model="$ctrl.selected.version" disabled/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Partitions</label>-->
<!--<input ng-model="$ctrl.selected.partitions "/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Replication Factor</label>-->
<!--<input ng-model="$ctrl.selected.replicationFactor "/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Replication Factor</label>-->
<!--<input ng-model="$ctrl.selected.replicationFactor "/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Serializer</label>-->
<!--<input ng-model="$ctrl.selected.serializer "/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Business Time Field</label>-->
<!--<input ng-model="$ctrl.selected.businessTimeField "/>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Row Key Field</label>-->
<!--<input ng-model="$ctrl.selected.rowkeyField "/>-->
<!--</md-input-container>-->
<!--</div>-->
