<md-tabs md-dynamic-height md-border-bottom>


    <!-- Engine configuration tab -->
    <md-tab label="engine">
        <md-content md-theme="docs-dark" layout="row" layout-padding>
                <md-input-container flex="none">
                    <label>Name</label>
                    <input ng-model="$ctrl.selected.engine.name">
                </md-input-container>
                <md-input-container flex="80">
                    <label>Component</label>
                    <input ng-model="$ctrl.selected.engine.component">
                </md-input-container>
        </md-content>

        <md-content layout-gt-sm="row" layout-padding>
            <config-grid configuration="$ctrl.selected.engine.config">Config</config-grid>
        </md-content>
    </md-tab>

    <!-- Pipelines configuration tab -->
    <md-list-item ng-repeat="pipeline in $ctrl.selected.streams">
        <md-tab label="{{ pipeline.name }}">
            <md-content layout-gt-sm="row" layout-padding>
                <stream-details selected="pipeline">Pipeline</stream-details>
            </md-content>
        </md-tab>
    </md-list-item>


</md-tabs>