<table cellspacing="2px">
    <tr class="table-headers">
        <td>Name</td>
        <td>Type</td>
        <td>Encrypted</td>
        <td>Indexed</td>
        <td>Persistent</td>
        <td>Optional</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7">
            <md-divider></md-divider>
        </td>
    </tr>
    <tr class="table-content" ng-repeat="key in $ctrl.selected">
        <td><span editable-text="key.name" e-name="name" buttons="right">{{ key.name }}</span></td>
        <td><span editable-select="key.type" e-name="type" e-ng-options="s.value as s.text for s in typeOptions" buttons="no">{{ key.type }}</span></td>
        <td><span editable-select="key.encrypted" e-name="encrypted" e-ng-options="s.value as s.text for s in booleanOptions" buttons="no">{{ key.encrypted }}</span></td>
        <td><span editable-select="key.indexed" e-name="indexed"  e-ng-options="s.value as s.text for s in booleanOptions" buttons="no">{{ key.indexed }}</span></td>
        <td><span editable-select="key.persistent" e-name="persistent"  e-ng-options="s.value as s.text for s in booleanOptions" buttons="no">{{ key.persistent }}</span></td>
        <td><span editable-select="key.optional" e-name="optional"  e-ng-options="s.value as s.text for s in booleanOptions" buttons="no">{{ key.optional }}</span></td>
        <td>
            <md-button ng-click="deleteKey($index)">X</md-button>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <md-button class="md-raised md-secondary" ng-click="addKey()">Add Key</md-button>
        </td>
    </tr>
</table>
