<div flex layout-align="start center" layout-padding>
    <h2>Topics</h2>
    <md-list
            class="topcisList">
        <md-list-item
                class="listheader"
                layout-align="center center"
                layout="row">
            <div flex="60" layout-margin>Name</div>
            <div flex="40" layout-padding>Version</div>
        </md-list-item>
        <md-list-item ng-repeat="topic in $ctrl.topics" ng-click="selectTopic(topic)" layout="row">
            <div flex="60" class="md-list-item-text" layout-margin>{{ topic.name }}</div>
            <div flex="60" class="md-list-item-text" layout-margin>{{ topic.version }}</div>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <topic-details
            selected="$ctrl.selectedTopic">
    </topic-details>
</div>
