<!--Config: {{ $ctrl.configuration }}-->
<div style="border: 2px solid red;">
    <table flex>
        <thead>
        <tr>
            <th>Key</th>
            <th>Type</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="conf in $ctrl.configuration">
            <td>{{ conf.key }}</td>
            <td>{{ conf.type }}</td>
            <td>{{ conf.value }}</td>
            <td>
                <md-button class="md-fab md-mini"
                           ng-click="editConfig($index)"
                           aria-label="Edit Line">
                    <md-icon md-svg-icon="settings"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini"
                           ng-click="showConfirm($event, $index)"
                           aria-label="Delete Line">
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Add a config</h3>
    <div flex layout="row">
        <md-input-container>
            <label>Key</label>
            <input type="text" name="newKey" ng-model="newKey" required/>
        </md-input-container>
        <md-input-container>
            <label>Type</label>
            <input type="text" name="newType" ng-model="newType" required/>
        </md-input-container>
        <md-input-container>
            <label>Value</label>
            <input type="text" name="newValue" ng-model="newValue" required/>
        </md-input-container>
        <md-button class="md-fab md-mini"
                   ng-click="addConfig()"
                   aria-label="Add Line">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
    </div>
</div>
