<!--Config: {{ $ctrl.configuration }}-->
<div flex>
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:35%">Name</td>
            <td style="width:20%">Status</td>
        </tr>
        <tr ng-repeat="conf in $ctrl.configuration">
            <td>
                <!-- editable username (text with validation) -->
                <span editable-text="conf.key"
                      e-name="key"
                      onbeforesave="checkKey($data, conf.key)"
                      buttons=right>
                      {{ conf.key || 'empty' }}
                    </span>
            </td>
            <td>
                <!-- editable username (text with validation) -->
                <span editable-textarea="conf.value"
                      e-name="value"
                      e-rows="7" e-cols="40"
                      onbeforesave="checkValue($data, conf.value)">
                      {{ conf.value || 'empty' | cut:true:100:'...' }}
                    </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <!--<form editable-form-->
                <!--name="rowform"-->
                <!--onbeforesave="saveUser($data, conf.key)"-->
                <!--ng-show="rowform.$visible"-->
                <!--class="form-buttons form-inline"-->
                <!--shown="inserted == conf">-->
                <!--<button type="submit"-->
                <!--ng-disabled="rowform.$waiting"-->
                <!--class="btn btn-primary">-->
                <!--save-->
                <!--</button>-->
                <!--<button type="button"-->
                <!--ng-disabled="rowform.$waiting"-->
                <!--ng-click="rowform.$cancel()"-->
                <!--class="btn btn-default">-->
                <!--cancel-->
                <!--</button>-->
                <!--</form>-->
                <div class="buttons" ng-show="!rowform.$visible">
                    <!--<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>-->
                    <button class="btn btn-danger" ng-click="deleteConfig($index)">X</button>
                </div>
            </td>
        </tr>
    </table>

    <button type="button" class="btn btn-default" ng-click="addConfig()">Add row</button>
</div>
