<!--Config: {{ $ctrl.configuration }}-->
<div flex>
    <dtable options="table_options"
            rows="$ctrl.configuration"
            on-row-dbl-click="editRow(row, angular.element(document.body))"
            class="material dt">
    </dtable>

    <h3>Add a config</h3>

    <form flex layout="row">
        <md-input-container>
            <label>Key</label>
            <input type="text" name="newKey" ng-model="newKey" required/>
        </md-input-container>
        <md-input-container>
            <label>Type</label>
            <input type="text" name="newType" ng-model="newType" required/>
        </md-input-container>
        <md-input-container>
            <label>Value</label>
            <input type="text" name="newValue" ng-model="newValue" required/>
        </md-input-container>
        <md-button class="md-fab md-mini"
                   ng-click="addConfig()"
                   aria-label="Add Line">
            <md-icon md-svg-icon="add"></md-icon>
        </md-button>
    </form>
</div>
