<div content flex
            layout="column"
            layout-padding>

    <h2>Edit row</h2>

    <md-input-container>
        <label>Key</label>
        <input type="text" name="key" ng-model="row.key" required/>
    </md-input-container>
    <md-input-container>
        <label>Key</label>
        <input type="text" name="value" ng-model="row.value" required/>
    </md-input-container>
    <md-input-container>
        <label>Key</label>
        <input type="text" name="type" ng-model="row.type" required/>
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="done()">Done</md-button>

</div>