<div flex="100" ng-show="$ctrl.selected" layout="row" layout-align="center center" layout-padding>
    <div flex layout-align="start center">
        <h2 style="margin: 0; padding: 0;" >
            <span ng-click="startEditingJobName($ctrl.selected)" ng-hide="editingJobName">Job: {{ $ctrl.selected.name }}</span>
                <input ng-show="editingJobName" ng-submit="" ng-model="$ctrl.selected.name" ng-blur="doneEditingJobName($ctrl.selected)" autofocus/>
        </h2>
    </div>
    <div flex layout="row" layout-align="end center">
        <md-button class="md-fab md-mini md-raised"
                   ng-click="startJob($ctrl.selected)"
                   ng-class="{ 'md-primary': $ctrl.selected.summary.status == 'RUNNING' }"
                   aria-label="Start Job">
            <md-icon md-svg-icon="play"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised"
                   ng-click="pauseJob($ctrl.selected)"
                   ng-class="{ 'md-primary': $ctrl.selected.summary.status == 'PAUSED' }"
                   aria-label="Pause Job">
            <md-icon md-svg-icon="pause"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised"
                   ng-click="shutdownJob($ctrl.selected)"
                   ng-class="{ 'md-primary': $ctrl.selected.summary.status == 'STOPPED' }"
                   aria-label="Stop Job">
            <md-icon md-svg-icon="stop"></md-icon>
        </md-button>
        |
        <md-button class="md-fab md-mini md-raised"
                   ng-click="saveJob($ctrl.selected)"
                   aria-label="Save Job">
            <md-icon md-svg-icon="save"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised"
                   ng-click="deleteJob($ctrl.selected)"
                   aria-label="Delete Job">
            <md-icon md-svg-icon="delete"></md-icon>
        </md-button>
    </div>
</div>

<!-- STREAMS -->
<div flex layout="column" ng-show="$ctrl.selected" layout-padding>
    <div id="stream_list" flex="100" layout="row">
        <div flex layout="row" layout-align="start center">
            <md-button id="stream_{{ stream.name }}"
                       ng-repeat="stream in $ctrl.selected.streams | filter:query | orderBy:name "
                       ng-click="$ctrl.selectedStream = stream"
                       ng-dblclick="edit(stream)"
                       ng-class="$ctrl.selectedStream === stream ? 'md-raised md-primary' : 'md-raised'"
                       style="text-transform: none;"
                       aria-label="Stream menu item {{ stream.name }}">
                <span ng-hide="stream.editing">{{stream.name}}</span>
                <input ng-show="stream.editing" ng-submit="" ng-model="stream.name" ng-blur="doneEditing(stream)" autofocus/>
            </md-button>
        </div>
        <div flex layout="row" layout-align="end center">
            <md-button class="md-fab md-mini"
                       ng-click="addStream()"
                       aria-label="Add Stream">
                <md-icon md-svg-icon="add"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini"
                       ng-click="deleteStream()"
                       aria-label="Delete Stream">
                <md-icon md-svg-icon="delete"></md-icon>
            </md-button>
        </div>
    </div>

    <stream-details id="selectedStream" selected="$ctrl.selectedStream">Stream</stream-details>
    <!--<topic-schema selected="$ctrl.selected.selectedTopic"></topic-schema>-->

</div>
