<md-sidenav class="md-sidenav-right md-whiteframe-4dp"
            md-component-id="right_processors"
            md-is-locked-open>]
    <md-content>
    <processors-list
            processors="stdProcessors"
            selected="selectedStdProcessor"
            on-selected="selectStdProcessor(processor)">
    </processors-list>
    </md-content>
</md-sidenav>

<div flex id="stream_details_{{ $ctrl.selected.name }}"
     layout-align="center center"
     ng-show="$ctrl.selected"
     layout-padding>

        <!--<div flex>Stream: {{ $ctrl.selected.name }}</div>-->
        <div flex layout="row">
            <h3>Processors</h3>
            <md-button class="md-fab md-mini"
                       ng-click="toggleList('right_processors')"
                       aria-label="Add Processor">
                <md-icon md-svg-icon="add"></md-icon>
            </md-button>
        </div>
        <div id="processors" layout="column">
            <!--<md-button ng-click="showPopup($event)"-->

            <div id="processor_{{ processor.name }}" layout="row"
                 ng-repeat="processor in $ctrl.selected.processors"
                 ng-dblclick="edit(processor)"
                 layout-align="start center"
                 style="border-bottom: 1px solid black">

                <span>{{processor.name}}</span>

                <md-button class="md-mini"
                           ng-disabled="$first"
                           ng-click="moveProcessorUp($index);"
                           aria-label="Move Processor Up">
                    <md-icon md-svg-icon="up"></md-icon>
                </md-button>
                <md-button class="md-mini"
                           ng-disabled="$last"
                           ng-click="moveProcessorDown($index);"
                           aria-label="Move Processor Down">
                    <md-icon md-svg-icon="down"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini"
                           ng-click="editProcessor($index)"
                           aria-label="Edit Processor">
                    <md-icon md-svg-icon="settings"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini"
                           ng-click="deleteProcessor($index)"
                           aria-label="Delete Processor">
                    <md-icon md-svg-icon="delete"></md-icon>
                </md-button>
            </div>
        </div>

    <config configuration="$ctrl.selected.config">Config</config>

    <md-content>
        <h3>Documentation</h3>
        <div style="margin: 6px; padding: 6px; border: 1px solid black;">
            <pre>{{ $ctrl.selected.documentation }}</pre>
        </div>
    </md-content>

</div>
