<div flex>
    <md-list>
        <md-list-item layout-align="center center">
            <div flex class="listrowheader" layout="row" layout-align="start center">
                <div flex="20" class="md-primary md-list-item-text listcell" layout-padding>
                    Name
                </div>
                <div flex="15" class="listcell">
                    Status
                </div>
                <div flex class="md-list-item-text listcell">
                    Actions
                </div>
            </div>
        </md-list-item>
        <md-list-item ng-repeat="job in $ctrl.filteredJobs" layout-align="center center">
            <div flex
                 ng-dbl-click="editJob(job)"
                 class="listrow"
                 layout="row"
                 layout-align="start center">
                <div flex="20" class="md-list-item-text listcell" layout-padding>
                    {{ job.name }}
                </div>
                <div flex="15" class="listcell">
                    {{ job.summary.status }}
                </div>
                <div flex class="md-list-item-text listcell">
                    <md-button class="md-fab md-mini md-raised"
                               ng-click="startJob($index)"
                               ng-class="{ 'md-primary': job.summary.status == 'RUNNING' }"
                               aria-label="Start Job">
                        <md-icon md-svg-icon="play"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-raised"
                               ng-click="pauseJob($index)"
                               ng-class="{ 'md-primary': job.summary.status == 'PAUSED' }"
                               aria-label="Pause Job">
                        <md-icon md-svg-icon="pause"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-raised"
                               ng-click="shutdownJob($index)"
                               ng-class="{ 'md-primary': job.summary.status == 'STOPPED' }"
                               aria-label="Stop Job">
                        <md-icon md-svg-icon="stop"></md-icon>
                    </md-button>
                    <!--<md-button class="md-fab md-mini md-raised"-->
                    <!--ng-click="restartJob($index)"-->
                    <!--ng-class=""-->
                    <!--aria-label="Restart Job">-->
                    <!--<md-icon md-svg-icon="restart"></md-icon>-->
                    <!--</md-button>-->
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>