<md-dialog flex>
    <md-dialog-content>
        <form content flex
             layout="column"
             layout-padding>

            <h2>Edit row</h2>
            <md-input-container>
                <label>Key</label>
                <input type="text" name="key" ng-model="row.key" required/>
            </md-input-container>
            <md-input-container>
                <label>Value</label>
                <input type="text" name="value" ng-model="row.value" required/>
            </md-input-container>
            <md-input-container>
                <label>Type</label>
                <input type="text" name="type" ng-model="row.type" required/>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
        <md-button ng-click="done()" class="md-primary">Done</md-button>
    </md-dialog-actions>
</md-dialog>

