<md-dialog flex>
    <md-dialog-content content
                       flex
                       layout="column"
                       layout-padding>

        <h2>Processor</h2>

        <md-input-container>
            <label>Name</label>
            <input type="text" name="processorName" ng-model="processor.name" required/>
        </md-input-container>

        <md-input-container>
            <label>Component</label>
            <input type="text" name="processorComponent" ng-model="processor.component" required/>
        </md-input-container>

        <md-input-container>
            <label>Documentation</label>
            <textarea type="text" name="processorDocumentation" ng-model="processor.documentation"
                      required></textarea>
        </md-input-container>

        <config configuration="processor.config" >Config</config>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="cancel()" class="md-secondary">Cancel</md-button>
        <md-button ng-click="done()" class="md-primary">Done</md-button>
    </md-dialog-actions>

</md-dialog>
