<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LogIsland Dashboard">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <title>LogIsland</title>

    <!--<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,700'>-->
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css" />
    <!--<link rel="stylesheet" href="./jspm_packages/github/swimlane/angular-data-table@0.7.0/release/dataTable.css"/>-->
    <!--<link rel="stylesheet" href="./jspm_packages/github/swimlane/angular-data-table@0.7.0/release/material.css"/>-->
    <link rel="stylesheet" href="./jspm_packages/github/vitalets/angular-xeditable@0.6.0/dist/css/xeditable.css">
    <link rel="stylesheet" href="./assets/app.css" />
    <!-- <link rel="stylesheet" href="./assets/docs.css" />-->

    <meta name="theme-color" content="#014AB6">
    <meta name="msapplication-navbutton-color" content="#014AB6">


</head>

<body layout="column" layout-align="start top" ng-controller="AppController as app" ng-cloak>

    <div layout="row" flex="none" id="wrapper">
        <div flex="5"> &nbsp; </div>
        <div flex="90" layout="column">
         
            <header-toolbar flex="none" ></header-toolbar>

            <div layout="row" flex id="wrapper">
                <navigation-toolbar flex="20"  layout="row"></navigation-toolbar>
                <div flex="70"  layout="column">
                                       <div flex layout="row">
                           <div ui-view>No state selected</div>
                            {{ dataServiceAvailable }}
                    </div>
                </div>
            </div>
        </div>
        <div flex="5"> &nbsp; </div>
    </div>

    <script src="./jspm_packages/system.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script type="text/javascript">
        System
            .import('src/boot')
            .catch(console.error.bind(console)); /* make sure any errors print to console*/
    </script>
    <script type="text/ng-template" id="actions.html">
        <md-button class="md-fab md-mini md-raised" ng-click="startJob($index)" ng-class=" { 'md-primary': job.summary.status == 'RUNNING' }"
            aria-label="Start Job">
            <md-icon md-svg-icon="play"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" ng-click="pauseJob($index)" ng-class="{ 'md-primary': job.summary.status == 'PAUSED' }"
            aria-label="Pause Job">
            <md-icon md-svg-icon="pause"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" ng-click="shutdownJob($index)" ng-class="{ 'md-primary': job.summary.status == 'STOPPED' }"
            aria-label="Stop Job">
            <md-icon md-svg-icon="stop"></md-icon>
        </md-button>
    </script>
</body>

</html>