<md-dialog aria-label="Create topic">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Job Creation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Let's create a brand new job</h2>
        <p>
          <md-content layout="row" layout-padding>
            <md-input-container flex="none">
              <label>Name</label>
              <input ng-model="$ctrl.newJobName">
            </md-input-container>
            <md-input-container>
              <label>Input topics</label>
              <md-select ng-model="$ctrl.inputTopics">
                <md-option ng-value="topic.name" ng-repeat="topic in $ctrl.topics">{{ topic.name }}</md-option>
              </md-select>
            </md-input-container>
          </md-content>

        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>