<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" md-is-locked-open="true">

    <md-content layout-padding>
        <md-list layout-align="start center">

            <md-button ui-sref="topics" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="database"></md-icon>
                Topics
            </md-button>
            

            <md-button ui-sref="jobs" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="job"></md-icon>
                Jobs
            </md-button>
            
<md-divider></md-divider>


            <md-button ui-sref="alerts" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="alert"></md-icon>
                Alerts
            </md-button>
            <md-button ui-sref="metrology" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="gauge"></md-icon>
                Metrology
            </md-button>
            <md-button ui-sref="errors" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="flash"></md-icon>
                Errors
            </md-button>
            <md-divider></md-divider>
            <md-button ui-sref="settings" ui-sref-active="active" ng-click="app.toggleList('left')">
                <md-icon md-svg-icon="settings"></md-icon>
                Settings
            </md-button>
        </md-list>
    </md-content>
</md-sidenav>

</md-content>